build/
imgui.ini
settings.ini
.vscode/
.vs/
.cap
.DS_Store
CMakeUserPresets.json
.cache/
.idea/
/_deps
*.vcxproj
/bin
*.sln
*.filters
*.cmake
*.user
CMakeCache.txt
/CMakeFiles
/lib
/obj
*.stamp
*.lib
*.idb
*.pdb
*.log
*.recipe
*.obj
*.tlog
*.rule
/samples
*.depend
*.ilk
